:root {
    --color1: #8685EF;
    --colorHover1: #5c5be7;
    --color2: #E3E0F3;
    --color3: #FAF8FF;
    --black1: #1c1c1c
}

/*Main color*/
.purple1 {
   color: var(--color1);
}
.purple2 {
   color: var(--color2);
}
.purple3 {
   color: var(--color3);
}
.black1 {
   color: var(--black1);
}

a {
    text-decoration: none;
}


body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: var(--black1);
}


/*navbar menu*/
.background__svg{
    position: absolute;
    top: -140%;
    right: -114%;
    z-index: -1;
}

.main__vision{
    overflow-x: clip;
    width: 100%;
    position: relative;
}

.btn__auth a{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
}

.btn__auth-login{
    color: var(--color1);
}
.btn__auth-login:hover{
    color: var(--black1);
    cursor: pointer;
}

.btn__auth-signup{
    background-color: var(--color1);
    color: white;
}
.btn__auth-signup:hover{
    background-color: var(--colorHover1);
    color: white;
    cursor: pointer;
}

.nav-item a:hover{
    color: var(--color1);
}
.nav-item a{
    font-size: 19px;
}


/*background bloob*/
.background__bloob-left{
    position: absolute;
    transform: rotate(-95deg);
    left: -40%;
    top: 30%;
    z-index: -1;
}
.background__bloob-right{
    position: absolute;
    transform: rotate(95deg);
    right: -40%;
    top: 1%;
    z-index: -1;
}

/*title, offer*/
.slider_container{
    margin-top: 300px;
}
.main__offer{
    height: 600px;
    flex-direction: column;
}
.main__offer p{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.btn__create {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--color1);
    color: white;
    width: fit-content;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.btn__create:hover{
    background-color: var(--colorHover1);
    color: white;
    cursor: pointer;
    box-shadow: 0 40px 74px 0 #764abc40;
}




/*video how to create section*/
.home__video-create{
    margin-top: 200px;
}
.home__video-create #outer {
    width: 900px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    object-fit: scale-down;

}
.home__video-create .video {
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    border-radius: 20px;
    width: 800px;
}
#video__left-svg{
    position: absolute;
    left: -10%;
    top: -80px;
}
#video__right-svg{
    position: absolute;
    right: 5%;
    bottom: -35%;
}

.video__container{
    margin-top: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video__container h1{
    color: var(--color1);
}
.video__container p{
    font-weight: 400;
    font-size: 20px;
    line-height: 182.5%;
}

.watch__video{
    display: flex;
    justify-content: space-evenly;
}

.watch__video .btn__watch {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--color2);
    color: var(--black1);
    width: fit-content;
    font-size: 20px;
}

.watch__video .btn__watch:hover{
    color: var(--color1);
    cursor: pointer;
    border: 1px solid var(--color1);
}
.watch__video .btn__icon{
    font-size: 30px;
}
.watch__video .btn__watch{
    display: flex;
    align-items: center;
}



/*caroisel create resume builder*/
.section__title{
    line-height: 48px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    color: var(--color1);
}

.carousel__create-example{
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
}



/*create  steps*/
.create__steps{
    margin-top: 200px;
}
.steps__container{
    justify-content: space-between;
    align-items: center;
}
.create__steps .create__box{
    background: #FFFFFF;
    box-shadow: 0 10px 45px rgba(1, 13, 130, 0.07);
    border-radius: 8px;
    width: 250px;
    height: 250px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3%;
}
.create__steps .create__box:hover{
    box-shadow: 0 10px 45px rgba(1, 13, 130, 0.12);
    cursor: pointer;
}
.create__box-header{
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
}
.create__box-content{
    font-weight: 400;
    line-height: 130%;
    color: #84879E;
    font-size: 14px;
}
.create__number{
    /*clip-path: circle(50%);*/
    color: var(--color1);
    font-weight: bolder;
    z-index: 2;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(1, 13, 130, 0.1);
    right: -10%;
    top: -10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.create__box:hover .create__number{
    background-color: var(--color1);
    color: white;
}




/*features*/
.features{
    margin-top: 200px;
}
.feature__content h6{
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;
    color: var(--color1);
}
.feature__content h5{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}
.feature__content{
    align-content: center;
}
.feature__content p{
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
}
.feature__icon{
    font-size: 28px;
    color: var(--color1);
}
.features__container{
    justify-content: space-between
}





/*site information*/
.site__information{
    margin-top: 200px;
}

.information__container{
    justify-content: space-between;
    align-items: center;
}
.information__container h6{
    font-weight: 500;
    font-size: 19px;
    line-height: 29px;
    color: var(--color1);
}
.information__container h5{
    font-weight: 700;
    font-size: 34px;
    line-height: 144%;
}
.information__container p{
    font-weight: 400;
    font-size: 19px;
    line-height: 182%;
    color: #84879E;
}




/*customers*/
.customers{
    margin-top: 200px;
}
.customers__say{
    background: #F8FBFE;
    box-shadow: 0 10px 50px rgba(1, 13, 130, 0.12);
    border-radius: 20px;
    align-items: center;
}
.customer__content h6{
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: var(--color1);
}
.customer__content span{
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    color: #84879E;
}
.customer__content p{
    font-weight: 400;
    font-size: 19px;
    line-height: 175%;
    color: #84879E;
}
.star{
    color: #FFC46B;
}
.customers__button-left{
    /*clip-path: circle(50%);*/
    color: var(--color1);
    z-index: 2;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(1, 13, 130, 0.1);
    left: -2%;
    top: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.customers__button-right{
    /*clip-path: circle(50%);*/
    color: var(--color1);
    z-index: 2;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(1, 13, 130, 0.1);
    right: -2%;
    top: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.customers__button-hover:hover{
    background-color: var(--color1);
    color: white;
    box-shadow: 0 10px 50px rgba(88, 95, 194, 0.9);
    cursor: pointer;
}





/*Why Use The  Resume Builder?*/
.why__use{
    margin-top: 200px;
}
.why__use-row{
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 60px;
}
.why__use-row h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 144%;
}
.why__use-row p{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #84879E;
}




/*footer*/
.footer__gradient{
    background-image: url("../svg/gradient.svg")!important;
    width: 100%;
    height: 2185px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 200px;
    background-position-x: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15%;
}

.footer__hero{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
    position: relative;
}
.footer__hero-icons{
    position: absolute;
    width: 40%;
}
.footer__hero-icon6{
    left: -30%;
    top: -30%;
}
.footer__hero-icon7{
    right: -40%;
    top: 75%;
}
.footer__hero-icon8{
    right: -20%;
    top: -40%;
}
.footer__hero-icon9{
    bottom: -80%;
}
.footer__hero-icon10{
    left: -40%;
    bottom: -55%;
}
.footer__hero p{
    font-weight: 500;
    line-height: 26px;
    color: #567592
}



/*plans*/
/*.demo{*/
/*    margin-top: 10%;*/
/*}*/
/*.pricingTable {*/
/*    text-align: center;*/
/*    background: #fff;*/
/*    box-shadow: 0 0 10px #ababab;*/
/*    padding-bottom: 40px;*/
/*    border-radius: 10px;*/
/*    color: #cad0de;*/
/*    transform: scale(1);*/
/*    transition: all .5s ease 0s;*/
/*}*/

/*.pricingTable:hover {*/
/*    transform: scale(1.05);*/
/*    z-index: 1;*/
/*    cursor: pointer;*/
/*}*/

/*.pricingTable .pricingTable-header {*/
/*    padding: 40px 0;*/
/*    background: #f5f6f9;*/
/*    border-radius: 10px 10px 50% 50%;*/
/*    transition: all .5s ease 0s*/
/*}*/

/*.pricingTable:hover .pricingTable-header {*/
/*    background: #ff9624*/
/*}*/

/*.pricingTable .pricingTable-header i {*/
/*    font-size: 50px;*/
/*    color: #858c9a;*/
/*    margin-bottom: 10px;*/
/*    transition: all .5s ease 0s*/
/*}*/

/*.pricingTable .price-value {*/
/*    font-size: 35px;*/
/*    color: #ff9624;*/
/*    transition: all .5s ease 0s*/
/*}*/

/*.pricingTable .month {*/
/*    display: block;*/
/*    font-size: 14px;*/
/*    color: #cad0de*/
/*}*/

/*.pricingTable:hover .month,*/
/*.pricingTable:hover .price-value,*/
/*.pricingTable:hover .pricingTable-header i {*/
/*    color: #fff*/
/*}*/

/*.pricingTable .heading {*/
/*    font-size: 24px;*/
/*    color: #ff9624;*/
/*    margin-bottom: 20px;*/
/*    text-transform: uppercase*/
/*}*/

/*.pricingTable .pricing-content ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin-bottom: 30px*/
/*}*/

/*.pricingTable .pricing-content ul li {*/
/*    line-height: 30px;*/
/*    color: #a7a8aa*/
/*}*/

/*.pricingTable .pricingTable-signup a {*/
/*    display: inline-block;*/
/*    font-size: 15px;*/
/*    color: #fff;*/
/*    padding: 10px 35px;*/
/*    border-radius: 20px;*/
/*    background: #ffa442;*/
/*    text-transform: uppercase;*/
/*    transition: all .3s ease 0s*/
/*}*/

/*.pricingTable .pricingTable-signup a:hover {*/
/*    box-shadow: 0 0 10px #ffa442*/
/*}*/

/*.pricingTable.blue .heading,*/
/*.pricingTable.blue .price-value {*/
/*    color: #4b64ff*/
/*}*/

/*.pricingTable.blue .pricingTable-signup a,*/
/*.pricingTable.blue:hover .pricingTable-header {*/
/*    background: #4b64ff*/
/*}*/

/*.pricingTable.blue .pricingTable-signup a:hover {*/
/*    box-shadow: 0 0 10px #4b64ff*/
/*}*/

/*.pricingTable.red .heading,*/
/*.pricingTable.red .price-value {*/
/*    color: #ff4b4b*/
/*}*/

/*.pricingTable.red .pricingTable-signup a,*/
/*.pricingTable.red:hover .pricingTable-header {*/
/*    background: #ff4b4b*/
/*}*/

/*.pricingTable.red .pricingTable-signup a:hover {*/
/*    box-shadow: 0 0 10px #ff4b4b*/
/*}*/

/*.pricingTable.green .heading,*/
/*.pricingTable.green .price-value {*/
/*    color: #40c952*/
/*}*/

/*.pricingTable.green .pricingTable-signup a,*/
/*.pricingTable.green:hover .pricingTable-header {*/
/*    background: #40c952*/
/*}*/

/*.pricingTable.green .pricingTable-signup a:hover {*/
/*    box-shadow: 0 0 10px #40c952*/
/*}*/

/*.pricingTable.blue:hover .price-value,*/
/*.pricingTable.green:hover .price-value,*/
/*.pricingTable.red:hover .price-value {*/
/*    color: #fff*/
/*}*/

/*@media screen and (max-width:990px) {*/
/*    .pricingTable {*/
/*        margin: 0 0 20px*/
/*    }*/
/*}*/



/*footer*/
.footer__container{
    margin-bottom: 5%;
}
.footer__input{
    position: relative;
}
.footer__input-b{
    position: absolute;
}
.footer__social a{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.footer__social {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text__align-justify{
    text-align: justify;
}


/*send btn*/
.footer__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.form__btn-inside:hover {
    color: white;
}


.form__btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    font-size: 18px;
}
.form__btn-primary {
    background: white;
    color: var(--color1);
    padding: 10px 20px;
}
.form__btn-primary:hover {
    color: var(--colorHover1);
}
.form__btn-primary:active {
    color: #7f8ff4;
}

.footer__form-field {
    width: 100%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 15px 20px;
    border-radius: 5px;
}
.footer__container-right{
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.footer__form-item{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
footer p,li{
    font-size: 16px;
}